@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-lg-7 col-md-7">
        <div class="slogan">
        </div>
    </div>

</div>
<hr />3

@*<div class="container">
        <div class="row" style="padding-top:72px;">
            <div class="col-md-12">
                <div class="carousel carousel-showsixmoveone slide" id="carousel123">
                     Indicators
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    @Html.Partial("_Upcoming")

                    <a class="left carousel-control" href="#carousel123" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#carousel123" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>*@
<div class="container">
    <div class="col-md-6">
        <h2 class="carouseltitle">Rendezd nálunk a moziműsorodat</h2>
        <p>Bejelentkezés után szerkesztehted a megnézedő filmjeidet, láthatod a megtekintett filmek listáját </p>
        <span><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Belépés &raquo;</a></span>
    </div>
</div>

